.card-block img{
    float:left; 
    width: 280px; 
    height: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card-title p{
    margin-top: 5px;
}
.card-text-reviwe{
    text-align: justify;
	font-size: 16px;
} 
